body {
        background-color: #000000;
        margin: 0;
        cursor: default;
        overflow: hidden;
    }


    h1 {
    	font-size: 10px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        margin-top: 0px;
    }
    p {
    	font-size: 9px;
        display: none;
        position: relative;
        margin-top: 1px;
        padding-left: 1px;
        text-align: center;
    }

    video {
        display: none;
    }



    .main {
        position:absolute;
        text-align: center;
        border: 1px solid black;
        box-shadow: 10px 10px 5px #888;
        border-radius: 12px;
        background-color: #ddd;
        margin: 25px;
        width: 300px;
        margin-left:auto;
        margin-right:auto;  
        z-index: 1;
    }


    .popup {
        padding: 0px;
		position: relative;
    	border: 1px solid #ccc;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: black;
        font-size: 6px;
        width: 50px;
        height: 12px;
        background-color: #fff;
        opacity: 0.85;
        cursor: pointer;
        display: inline-block;
    }


    .selected p{
        display: inline-block;
    }

    .unselected p{
        display: none;
    }

    .selected video{
        display: block;
    }
